/* цвет основного текста #212121 */
/* вторичный цвет #757575 * /
/*белый #ffffff*/
/* цвет активности #2196F3 */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-bg-color: #f5f4fa;
  --second-bg-color: #2f303a;
  --transparency-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-style: normal;
}
* {
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* header */

/* logo */
.logo {
  color: black;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: raleway, sans-serif;
}
.logo-studio {
  color: var(--accent-color);
}
/* site nav*/

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.link-nav {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav {
  margin: 0;
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.address-nav {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.address-nav .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
}
/* hero */

.hero,
.footer {
  background-color: #2f303a;
}
.hero h1 {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  padding-top: 200px;
  margin-bottom: 94px;
  text-align: center;
}

.hero .container {
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 10px 32px;
  margin-bottom: 200px;
}
.button:focus,
.button:hover {
  color: var(--primary-white-color);
}

/* section about*/

.section {
  font-size: 14px;
}
.section-title h3,
.section-title h2 {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-title p {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.section-title {
  display: flex;
  margin-top: 0;
  margin-bottom: 94px;
}

.section .container {
  margin-left: auto;
  margin-right: auto;
}

.section-about h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.section-about {
  margin-bottom: 94px;
}

.section-about ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* section team */
.section-team {
  background-color: var(--main-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
}
.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.team-list {
  margin-top: 0;
  margin-bottom: 0;
}

/* .team-list li {
  display: inline-block;
} */

/* address */

.address .link {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link {
  color: var(--transparency-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address {
  font-style: normal;
}

/* PORTFOLIO */

.button-portfolio {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portfolio:focus {
  color: var(--accent-color);
}

.button-portfolio:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* exampls */
.h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.cards h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  padding-top: 20px;
}

.cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--primary-white-color);
}

.container-button {
  margin-top: 0;
  margin-bottom: 34px;
}
/* home work 3 */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
